In [1]:
import pandas as pd

In [4]:
df1 = pd.DataFrame({
    '고객번호': [1001,1002,1003,1004,1005,1006,1007],
    '이름' : ['둘리','도우너','또치','길동','희동','마이콜','영희']},
    columns=['고객번호','이름'])

In [5]:
df1

   고객번호   이름
0  1001   둘리
1  1002  도우너
2  1003   또치
3  1004   길동
4  1005   희동
5  1006  마이콜
6  1007   영희

In [7]:
df2 = pd.DataFrame({
    '고객번호':[1001,1001,1005,1006,1008,1002],
    '금액':[100,200,300,400,500,600]},
    columns=['고객번호','금액'])

##