In [1]:
import pandas as pd
from konlpy.tag import Kkma
from konlpy.utils import pprint

In [2]:
kkma = Kkma()

In [116]:
df = pd.read_csv(r'D:\pycharmProject\BigdataProject_AbandonedAnimal\lostAnimal_20170101_20171231.csv', encoding='CP949')

D:\pycharmProject\BigdataProject_AbandonedAnimal\venv\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [117]:
df.columns

Index(['Unnamed: 0', 'age(before)', 'age(after)', 'careAddr', 'careNm',
       'careTel', 'chargeNm', 'colorCd', 'desertionNo', 'filename', 'happenDt',
       'happenPlace', 'kindCd', 'neuterYn', 'noticeComment', 'noticeEdt',
       'noticeNo', 'noticeSdt', 'officetel', 'orgNm', 'popfile',
       'processState', 'sexCd', 'specialMark', 'weight(before)',
       'weight(after)', '두마리이상', 'Unnamed: 27'],
      dtype='object')

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100723 entries, 0 to 100722
Data columns (total 28 columns):
Unnamed: 0        100723 non-null int64
age(before)       100723 non-null object
age(after)        100723 non-null int64
careAddr          100723 non-null object
careNm            100723 non-null object
careTel           100723 non-null object
chargeNm          94569 non-null object
colorCd           100723 non-null object
desertionNo       100723 non-null float64
filename          100723 non-null object
happenDt          100723 non-null int64
happenPlace       100721 non-null object
kindCd            100723 non-null object
neuterYn          100723 non-null object
noticeComment     535 non-null object
noticeEdt         100723 non-null int64
noticeNo          100723 non-null object
noticeSdt         100723 non-null int64
officetel         95905 non-null object
orgNm             100723 non-null object
popfile           100723 non-null object
processState      100723 non-null object
sexCd             100723 non-null object
specialMark       99031 non-null object
weight(before)    100723 non-null object
weight(after)     100353 non-null float64
두마리이상             18 non-null object
Unnamed: 27       36 non-null float64
dtypes: float64(3), int64(5), object(20)
memory usage: 21.5+ MB

## kindCd, happenDt, happenPlace, colorCd

### kindCd

In [119]:
df['kindCd'].head()

0         [개] 믹스견
1         [개] 믹스견
2    [고양이] 한국 고양이
3         [개] 믹스견
4         [개] 믹스견
Name: kindCd, dtype: object

In [120]:
df['kind'] = df['kindCd'].str.extract('([가-힣]+)\]', expand=False) # 한글 정규식
df['kind'].head()

0      개
1      개
2    고양이
3      개
4      개
Name: kind, dtype: object

In [121]:
kind_mapping = {'개': 0, '고양이':1, '기타축종':2}
df['kind'] = df['kind'].map(kind_mapping)

In [122]:
df['kind'].value_counts()

0    73023
1    26543
2     1157
Name: kind, dtype: int64

In [123]:
df['breed'] = df['kindCd'].str.split('] ').str[1]
# split으로 분리하여 얻은 list에서 2번째 값을 string으로 받음

In [124]:
df['breed'].head()

0       믹스견
1       믹스견
2    한국 고양이
3       믹스견
4       믹스견
Name: breed, dtype: object

In [125]:
breed = df['breed'].value_counts()
breed

믹스견             37569
고양이             26189
말티즈              7013
푸들               6803
진도견              3371
시츄               2750
요크셔 테리어          1748
포메라니안            1653
스피츠              1268
골든 리트리버          1042
코카 스파니엘           875
치와와               774
닥스훈트              746
미니어쳐 핀셔           587
슈나우져              558
라브라도 리트리버         462
시베리안 허스키          395
토끼                378
웰시 코기 펨브로크        368
비글                362
보스턴 테리어           283
한국 고양이            274
페키니즈              245
셰퍼드               216
사모예드              203
프렌치 불독            169
불독                167
발바리               157
포인터               139
그레이트 피레니즈         129
                ...
늑대거북이               1
코카 푸                1
말티즈혼합으로보임           1
브래타니                1
발바리믹스견              1
라보라도리트리버            1
벨지안 셰퍼드 독           1
요크믹스                1
레드라도리트리버            1
믹스(퍼그)              1
진도 또는 믹스            1
포메리안스피츠믹스           1
친칠라                 1
갈/흰                 1
라브라도레트리버            1
말티스 믹스추정            1
아메리칸아끼다             1
팬텀푸들                1
제페니즈친               1
은계                  1
거북                  1
믹스 흑구               1
테리어                 1
진도 또는 대형견 믹스        1
세이블햄스터 추정           1
셔틀렌드 쉽독             1
직박구리                1
말티즈 추정              1
키타                  1
보스롱                 1
Name: breed, Length: 537, dtype: int64

### happenDt

In [126]:
df['happenDt'].head()

0    20171231
1    20171231
2    20171231
3    20171231
4    20171231
Name: happenDt, dtype: int64

In [127]:
df['happenDt'] = pd.to_datetime(df['happenDt'], format='%Y%m%d')
# 8자리를 날짜형식으로 바꿈

In [128]:
df['happenDt'].head()

0   2017-12-31
1   2017-12-31
2   2017-12-31
3   2017-12-31
4   2017-12-31
Name: happenDt, dtype: datetime64[ns]

In [129]:
# df['happenWd'] = df['happenDt'].dt.dayofweekday  # 요일을 숫자로 표현함 "0 = Sunday"
df['happenWd'] = df['happenDt'].dt.day_name()

In [130]:
df['happenWd'].head()

0    Sunday
1    Sunday
2    Sunday
3    Sunday
4    Sunday
Name: happenWd, dtype: object

In [131]:
df['happenWd'].value_counts()

Monday       22098
Tuesday      16930
Wednesday    15993
Thursday     15824
Friday       15508
Saturday      8787
Sunday        5583
Name: happenWd, dtype: int64

In [132]:
df['happenMth'] = pd.DatetimeIndex(df['happenDt']).month
# 날짜에서 '월'값을 받음

In [133]:
df['happenMth'].head()

0    12
1    12
2    12
3    12
4    12
Name: happenMth, dtype: int64

In [134]:
df['happenMth'].value_counts()

8     11119
7     11075
9      9978
5      9845
6      9713
10     9311
11     8044
4      7594
12     6620
3      6600
1      5582
2      5242
Name: happenMth, dtype: int64

### age

In [135]:
df['weight(after)'].head()

0     5.0
1    10.0
2     1.0
3     1.0
4     1.0
Name: weight(after), dtype: float64

In [136]:
df.loc[df['weight(after)'] <= 3, 'size'] = '초소형'
df.loc[(df['weight(after)'] > 3 ) & (df['weight(after)'] <=9 ), 'size'] = '소형'
df.loc[(df['weight(after)'] > 9 ) & (df['weight(after)'] <=25 ), 'size'] = '중형'
df.loc[df['weight(after)'] > 25, 'size'] = '대형'

In [137]:
df['size'].head()

0     소형
1     중형
2    초소형
3    초소형
4    초소형
Name: size, dtype: object

### weight

In [138]:
df['age(after)'].head()

0    0
1    1
2    0
3    0
4    0
Name: age(after), dtype: int64

In [139]:
df.loc[df['age(after)'] <= 1, 'age_u'] = '유견기'
df.loc[(df['age(after)'] > 1 ) & (df['age(after)'] <= 9 ), 'age_u'] = '성견기'
df.loc[df['age(after)'] > 9, 'age_u'] = '노견기'

In [140]:
df['age_u'].head()

0    유견기
1    유견기
2    유견기
3    유견기
4    유견기
Name: age_u, dtype: object

## Save

In [141]:
df.columns

Index(['Unnamed: 0', 'age(before)', 'age(after)', 'careAddr', 'careNm',
       'careTel', 'chargeNm', 'colorCd', 'desertionNo', 'filename', 'happenDt',
       'happenPlace', 'kindCd', 'neuterYn', 'noticeComment', 'noticeEdt',
       'noticeNo', 'noticeSdt', 'officetel', 'orgNm', 'popfile',
       'processState', 'sexCd', 'specialMark', 'weight(before)',
       'weight(after)', '두마리이상', 'Unnamed: 27', 'kind', 'breed', 'happenWd',
       'happenMth', 'size', 'age_u'],
      dtype='object')

In [142]:
df.to_csv('lostAnimal_20170101_20171231_pre.csv',encoding='euc-kr')