In [1]:
import pandas as pd
from konlpy.tag import Kkma
from konlpy.utils import pprint

In [2]:
kkma = Kkma()

In [85]:
df = pd.read_csv(r'D:\pycharmProject\BigdataProject_AbandonedAnimal\lostAnimal_20180101_20181231_vol1.csv', encoding='CP949')

In [86]:
df.columns

Index(['Unnamed: 0', 'age(before)', 'age(after)', 'careAddr', 'careNm',
       'careTel', 'chargeNm', 'colorCd', 'desertionNo', 'filename', 'happenDt',
       'happenPlace', 'kindCd', 'neuterYn', 'noticeComment', 'noticeEdt',
       'noticeNo', 'noticeSdt', 'officetel', 'orgNm', 'popfile',
       'processState', 'sexCd', 'specialMark', 'weight(before)',
       'weight(after)'],
      dtype='object')

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80330 entries, 0 to 80329
Data columns (total 26 columns):
Unnamed: 0        80330 non-null int64
age(before)       80330 non-null object
age(after)        80330 non-null int64
careAddr          80330 non-null object
careNm            80330 non-null object
careTel           80330 non-null object
chargeNm          74132 non-null object
colorCd           80322 non-null object
desertionNo       80330 non-null float64
filename          80330 non-null object
happenDt          80330 non-null int64
happenPlace       80330 non-null object
kindCd            80330 non-null object
neuterYn          80330 non-null object
noticeComment     334 non-null object
noticeEdt         80330 non-null int64
noticeNo          80330 non-null object
noticeSdt         80330 non-null int64
officetel         75720 non-null object
orgNm             80330 non-null object
popfile           80330 non-null object
processState      80330 non-null object
sexCd             80330 non-null object
specialMark       78614 non-null object
weight(before)    80330 non-null object
weight(after)     80303 non-null float64
dtypes: float64(2), int64(5), object(19)
memory usage: 15.9+ MB

## kindCd, happenDt, happenPlace, colorCd

### kindCd

In [88]:
df['kindCd'].head()

0    [개] 믹스견
1    [개] 믹스견
2    [개] 믹스견
3    [개] 믹스견
4    [개] 믹스견
Name: kindCd, dtype: object

In [89]:
df['kind'] = df['kindCd'].str.extract('([가-힣]+)\]', expand=False) # 한글 정규식
df['kind'].head()

0    개
1    개
2    개
3    개
4    개
Name: kind, dtype: object

In [90]:
kind_mapping = {'개': 0, '고양이':1, '기타축종':2}
df['kind'] = df['kind'].map(kind_mapping)

In [91]:
df['kind'].value_counts()

0    60813
1    18725
2      792
Name: kind, dtype: int64

In [92]:
df['breed'] = df['kindCd'].str.split('] ').str[1]
# split으로 분리하여 얻은 list에서 2번째 값을 string으로 받음

In [93]:
df['breed'].head()

0    믹스견
1    믹스견
2    믹스견
3    믹스견
4    믹스견
Name: breed, dtype: object

In [94]:
breed = df['breed'].value_counts()
breed

믹스견               33602
한국 고양이            15711
푸들                 5439
말티즈                5108
진도견                2509
시츄                 1708
포메라니안              1507
요크셔 테리어            1091
스피츠                1071
치와와                 702
라브라도 리트리버           597
혼합                  583
닥스훈트                581
골든 리트리버             522
코카 스파니엘             485
코숏                  461
웰시 코기 펨브로크          426
미니어쳐 핀셔             375
페르시안-페프시안 친칠라       374
시베리안 허스키            339
슈나우져                301
프렌치 불독              288
믹스                  281
보스턴 테리어             275
비글                  257
터키시 앙고라             233
비숑 프리제              224
기타                  205
러시안 블루              187
보더 콜리               172
                  ...
라이카믹스                 1
야생고양이                 1
아메리칸 에스키모             1
퀘이커앵무                 1
믹스 강아지                1
잉글리쉬 코카스페니얼 믹스        1
불독 혼합                 1
호저                    1
라브라도 믹스               1
모름                    1
그로넨달                  1
잡종견(믹스견)              1
사모예드믹스                1
러블믹스                  1
검은색                   1
페터데일테리어               1
참새                    1
카이훗                   1
코카 푸                  1
믹스고양이                 1
염소(흑염소)               1
백봉오골계                 1
이집션마우?                1
치와와혼종                 1
슈나믹스                  1
거위                    1
인도공작                  1
조류(닭)                 1
믹스포메                  1
품종확인불가                1
Name: breed, Length: 408, dtype: int64

### happenDt

In [95]:
df['happenDt'].head()

0    20180906
1    20180906
2    20180906
3    20180906
4    20180906
Name: happenDt, dtype: int64

In [96]:
df['happenDt'] = pd.to_datetime(df['happenDt'], format='%Y%m%d')
# 8자리를 날짜형식으로 바꿈

In [97]:
df['happenDt'].head()

0   2018-09-06
1   2018-09-06
2   2018-09-06
3   2018-09-06
4   2018-09-06
Name: happenDt, dtype: datetime64[ns]

In [98]:
# df['happenWd'] = df['happenDt'].dt.dayofweekday  # 요일을 숫자로 표현함 "0 = Sunday"
df['happenWd'] = df['happenDt'].dt.day_name()

In [99]:
df['happenWd'].head()

0    Thursday
1    Thursday
2    Thursday
3    Thursday
4    Thursday
Name: happenWd, dtype: object

In [100]:
df['happenWd'].value_counts()

Monday       17555
Tuesday      13859
Wednesday    12795
Thursday     12400
Friday       12301
Saturday      6900
Sunday        4520
Name: happenWd, dtype: int64

In [101]:
df['happenMth'] = pd.DatetimeIndex(df['happenDt']).month
# 날짜에서 '월'값을 받음

In [102]:
df['happenMth'].head()

0    9
1    9
2    9
3    9
4    9
Name: happenMth, dtype: int64

In [103]:
df['happenMth'].value_counts()

5    11984
7    11805
6    11469
8    11062
4     9733
3     8813
1     7345
2     6465
9     1654
Name: happenMth, dtype: int64

### age

In [104]:
df['weight(after)'].head()

0    4.0
1    5.0
2    1.0
3    1.0
4    1.0
Name: weight(after), dtype: float64

In [105]:
df.loc[df['weight(after)'] <= 3, 'size'] = '초소형'
df.loc[(df['weight(after)'] > 3 ) & (df['weight(after)'] <=9 ), 'size'] = '소형'
df.loc[(df['weight(after)'] > 9 ) & (df['weight(after)'] <=25 ), 'size'] = '중형'
df.loc[df['weight(after)'] > 25, 'size'] = '대형'

In [106]:
df['size'].head()

0     소형
1     소형
2    초소형
3    초소형
4    초소형
Name: size, dtype: object

### weight

In [107]:
df['age(after)'].head()

0    1
1    1
2    0
3    0
4    0
Name: age(after), dtype: int64

In [108]:
df.loc[df['age(after)'] <= 1, 'age_u'] = '유견기'
df.loc[(df['age(after)'] > 1 ) & (df['age(after)'] <= 9 ), 'age_u'] = '성견기'
df.loc[df['age(after)'] > 9, 'age_u'] = '노견기'

In [109]:
df['age_u'].head()

0    유견기
1    유견기
2    유견기
3    유견기
4    유견기
Name: age_u, dtype: object

## Save

In [110]:
df.columns

Index(['Unnamed: 0', 'age(before)', 'age(after)', 'careAddr', 'careNm',
       'careTel', 'chargeNm', 'colorCd', 'desertionNo', 'filename', 'happenDt',
       'happenPlace', 'kindCd', 'neuterYn', 'noticeComment', 'noticeEdt',
       'noticeNo', 'noticeSdt', 'officetel', 'orgNm', 'popfile',
       'processState', 'sexCd', 'specialMark', 'weight(before)',
       'weight(after)', 'kind', 'breed', 'happenWd', 'happenMth', 'size',
       'age_u'],
      dtype='object')

In [111]:
df.to_csv('lostAnimal_20180101_20181231_vol2.csv',encoding='euc-kr')